Repository yast/yast-packager: changes, and which Cirrus tasks are due for each by the changed paths.
All: Rubocop, yardoc

Rubocop:
  container:
    cpu: 8
  test_script: rake check:rubocop

yardoc:
  yardoc_cache_cache:
    folder: .yardoc
  test_script: rake check:doc

adapt config
  .rubocop.yml
Due: Rubocop

unsafe auto corrections
  src/clients/media_proposal.rb
  src/clients/sw_single.rb
  src/clients/wrapper_slideshow_callbacks.rb
  src/include/checkmedia/ui.rb
  src/include/packager/key_manager_dialogs.rb
  src/include/packager/repositories_include.rb
  src/lib/y2packager/widgets/simple_language_selection.rb
  src/modules/AddOnProduct.rb
  src/modules/InstShowInfo.rb
  src/modules/Packages.rb
  src/modules/SourceDialogs.rb
  src/modules/SourceManagerSLP.rb
Due: Rubocop, yardoc

fix empty class cop
  test/test_helper.rb
Due: Rubocop, yardoc

finally kill dirinstall in packager
  src/clients/inst_rpmcopy.rb
  src/lib/packager/clients/software_proposal.rb
  src/modules/Packages.rb
  src/modules/SpaceCalculation.rb
  test/space_calculation_test.rb
Due: Rubocop, yardoc

fix duplicate branch cop
  src/lib/y2packager/clients/inst_productsources.rb
  src/modules/SourceDialogs.rb
Due: Rubocop, yardoc

fix long line cop
  src/clients/inst_rpmcopy.rb
  src/include/packager/repositories_include.rb
  test/one_click_install_standard_test.rb
Due: Rubocop, yardoc

fix boolean parameter cop
  src/lib/y2packager/product_spec_readers/full.rb
  src/lib/y2packager/repomd_downloader.rb
Due: Rubocop, yardoc

fix useless assignment cop
  src/modules/PackageInstallation.rb
Due: Rubocop, yardoc

fix calling super in important methods cop
  src/lib/packager/clients/pkg_finish.rb
  src/lib/packager/clients/repositories.rb
  src/lib/packager/clients/software_proposal.rb
  src/lib/y2packager/widgets/product_license.rb
  src/lib/y2packager/widgets/product_license_confirmation.rb
  src/lib/y2packager/widgets/product_license_content.rb
  src/lib/y2packager/widgets/simple_language_selection.rb
Due: Rubocop, yardoc

fix wrong auto correction as items are not hash, but list of list
  src/lib/y2packager/widgets/simple_language_selection.rb
Due: Rubocop, yardoc

kill the last surviving piece of webpin
  src/clients/sw_single.rb
Due: Rubocop, yardoc

remove unnecessary parentherses
  src/modules/Packages.rb
Due: Rubocop, yardoc

get rid of ops for help
  src/modules/SourceDialogs.rb
Due: Rubocop, yardoc

improve a bit also space calculation
  src/modules/SpaceCalculation.rb
Due: Rubocop, yardoc

simplify a bit regexp in test
  test/packages_test.rb
Due: Rubocop, yardoc

fix yardoc
  src/modules/PackageSlideShow.rb
Due: Rubocop, yardoc

Disable fail-fast in GitHub Actions
  .github/workflows/ci.yml
Due: none

Enable RSpec verifying doubles
  src/modules/PackageSlideShow.rb
  test/addon_product_test.rb
  test/addon_selector_test.rb
  test/package_installation_test.rb
  test/packages_test.rb
  test/product_license_test.rb
  test/test_helper.rb
Due: Rubocop, yardoc

Fixed wrong code coverage report
  test/test_helper.rb
Due: Rubocop, yardoc

Use new Yast::RSpec::Helpers.define_yast_module
  package/yast2-packager.spec
  test/test_helper.rb
Due: Rubocop, yardoc

Use the new "define_yast_module" API
  test/test_helper.rb
Due: Rubocop, yardoc

Sort the mocked modules aplhabetically
  test/test_helper.rb
Due: Rubocop, yardoc

Changes
  package/yast2-packager.changes
  package/yast2-packager.spec
Due: none

Code review update
  test/test_helper.rb
Due: Rubocop, yardoc

Enable RSpec verifying doubles (#599)
  package/yast2-packager.changes
  package/yast2-packager.spec
  src/modules/PackageSlideShow.rb
  test/addon_product_test.rb
  test/addon_selector_test.rb
  test/package_installation_test.rb
  test/packages_test.rb
  test/product_license_test.rb
  test/test_helper.rb
Due: Rubocop, yardoc

Replace PackageSystem with Package
  src/clients/sw_single.rb
  src/include/checkmedia/ui.rb
  src/include/packager/repositories_include.rb
Due: Rubocop, yardoc

Update dependency on the yast2 package
  package/yast2-packager.spec
Due: none

Bump and update changes file
  package/yast2-packager.changes
  package/yast2-packager.spec
Due: none

Fix wrong reference to PackageSystem.EnsureSourceInit
  src/clients/sw_single.rb
Due: Rubocop, yardoc

Bump version and update changes file
  package/yast2-packager.changes
  package/yast2-packager.spec
Due: none

Remove duplicate repositories (bsc#1194546)
  package/yast2-packager.changes
  package/yast2-packager.spec
  src/lib/packager/clients/pkg_finish.rb
  test/pkg_finish_test.rb
Due: Rubocop, yardoc

Remake some icons
  src/icons/hicolor/scalable/apps/yast-checkmedia.svg
  src/icons/hicolor/scalable/apps/yast-license.svg
  src/icons/hicolor/scalable/apps/yast-sw_single.svg
  src/icons/hicolor/scalable/apps/yast-sw_source.svg
  src/icons/hicolor/symbolic/apps/yast-sw_single-symbolic.svg
  src/icons/hicolor/symbolic/apps/yast-sw_source-symbolic.svg
Due: none

Properly set the repository alias (bsc#1193214)
  package/yast2-packager.changes
  package/yast2-packager.spec
  src/include/packager/repositories_include.rb
Due: Rubocop, yardoc

do not keep file handle to repo metadata open accidentally (bsc#1196061)
  src/lib/y2packager/solvable_pool.rb
Due: Rubocop, yardoc

release 4.3.26
  package/yast2-packager.changes
  package/yast2-packager.spec
Due: none

release 4.4.25
  package/yast2-packager.changes
  package/yast2-packager.spec
Due: none

Read the products from libzypp in installed system
  package/yast2-packager.changes
  package/yast2-packager.spec
  src/lib/y2packager/product_spec_reader.rb
  test/lib/product_spec_reader_test.rb
Due: Rubocop, yardoc

Fixed regression in repository alias name for add-ons (jsc#1193214)
  package/yast2-packager.changes
  package/yast2-packager.spec
  src/include/packager/repositories_include.rb
Due: Rubocop, yardoc

Fixed a bug reference
  package/yast2-packager.changes
Due: none

Path conditions:
  Rubocop: any of: .cirrus.yml, .rubocop.yml, Rakefile, **/*.rake, *.rb, **/*.rb
  yardoc: any of: .cirrus.yml, Rakefile, **/*.rake, *.rb, **/*.rb
